:root {
    --cor0: #5997ff;
    --cor1: #2b303a;
    --cor2: white;
    --cor3: #7c7c7c9d;
    --cor4: #D64933;
    --cor5: #add8e6;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    width: 100%;
    height: 100%;
}

.fundoBody{
    background-color: var(--cor0);
    width: auto;
}

#divpesquisa {
    position: absolute;
    left: 150px;
    top: 40px;
}

#pesquisa > input {
    border: 1px solid white;
    border-radius: 15px;
    width: 500px;
    padding: 0.7em;
}

#pesquisa{
    position: relative;

    left: 250px;
    top: 5px;
}

#botaodeacesso {
    color: white;
    display: inline-block;
    position: absolute;
    top: 48px;
    right: 85px;
}

a{
    color: var(--cor2);
    text-decoration: none;
}

.cardProd{
    background-color: var(--cor2);
    border-radius: 15px;
    display: block;
    margin: 10px;
}

.layoutImg{
    border-radius: 15px;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.158);
    
    display: block;
    
    padding: 10px;
    margin: 10px;
}

.imgProd{
    display: inline-block;
}

.descricaoProd{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: absolute;
}

.alterar-qtd{
    border: none;
    border-radius: 20px;
    font-weight: bold;
    padding: 0 6px 0 6px;
    
}

.buscar-cep{
    border: none;
    border-radius: 20px;
    font-weight: bold;
    margin: 0 5px 0 5px;
    padding: 10px;
}

.alterar-qtd:hover,.buscar-cep:hover, .comprar-prod:hover{
    background-color: rgba(128, 128, 128, 0.514);
}

.comprar-prod{
    border: none;
    border-radius: 15px;
    font-weight: bold;
    margin: 0 5px 0 5px;
    padding: 10px;
}

#divTabelas{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    position: absolute;
    right: 0px;
    top: 270px;    
}

.infoProd{
    background-color: var(--cor2);
    border-radius: 15px;
    display: block;
    margin: 5px;
}

.recomendacoes{
    display: inline-block;
    margin: 12px;
}

.card-prod-recomendado{
    text-decoration: none;
    color: black;
}

#txtRecomendacoes{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: bold;
    width: auto;
    text-align: center;
}

p{
    text-align: center;
}